<!--
 * @Author: Klien
 * @Date: 2022-02-09 21:42:50
 * @LastEditTime: 2022-02-14 08:58:34
 * @LastEditors: Klien
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,  initial-scale=1,shrink-to-fit=no,maximum-scale=5.0, minimum-scale=1.0" />
		<meta name="description" content="zd.comprehensive.pc" />
		<meta name="x5-orientation" content="portrait" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Vue3+Express+Ts+Webpack5</title>
	</head>
	<body>
		<div id="app">{{{ appHtml }}}</div>
		{{{body}}} {{{ssrStore}}}
	</body>
</html>
